li{
    display : inline;
}

div {
    height:100px;
    width: 100px;
    background-image: url("https://cdn.twocontinents.com/hfpqy_V7_B_IMG_Dubai_UAE_1200x800_e1936b3330.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
}