*{
    font-family: "Montserrat", sans-serif;
}

body i:hover{
    cursor:pointer;
}

.install:hover .search-i{
    opacity:1;
}

.box:hover .browser{
    display:block;
}

.last-nav-div:hover div,i{
    cursor:pointer;
}

.name:hover .hide-span{
    display:block
}

.create-plus:hover .plus{
    opacity:1;
}

.book{
    display: none;
}

.sidebar:hover .book{
    display: block;
}

.bell:hover .bell-text{
    display:block;
}

.friend:hover .friend-text{
    display:block;
}

.main-content span:hover{
    cursor: pointer;
    background-color: #292828;
}

.card{
    padding:1%;
    max-width: 200px;
}
.card:hover{
    background-color: #232323;
    border-radius:0.5rem;
   
}

.card .img{
    border-radius: 0.5rem;
}