#container {
    border : 2px solid black;
    height: 200px;
    width : 400px;
    display:flex;
    /* flex-wrap : wrap; */
    align-items: baseline;
    background-color: brown;
    transition: all 2s ease-in 1s;
    transform: skew(30deg);
    /* transform : translate(40px); */
    /* transform: rotate(360deg); */
    /* transform: scale(0.5); */
}

/* @media (orientation: landscape){
    #container{
        background-color: red;
        height: 150px;
        width : 150px;
        transition: all 2s ease-in 3s;
    } 
}

@media (orientation: portrait){
    #container{
        transition: all 2s ease-in 1s;
    } 
} */
#container div {
    border : 2px solid black;
    height:50px;
    width :100px;
}